/*
My Styling Order
1.  display type (includes info about CSS Grid and Flexbox for children)
2.  positioning (includes grid-area)
3.  sizing
4.  margin/padding
5.  border
6.  colors/background
7.  font family/size
8.  text/other content modifiers
9.  other
*/

/*CSS Reset*/
*, *::before, *::after {
	box-sizing: border-box;
}
/*CSS Reset End*/

/*Main Elements*/
html {
	height: 100%;
	background-color: rgb(16, 2, 43);
	font-size: 16px;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

header {
	display: grid;
	grid-template-areas: "header-left title header-right";
	position: fixed;
	top: 0;
	width: 100%;
	grid-template-columns: 1fr min(768px, 70%) 1fr;
	grid-area: header;
	background-color: rgb(16, 2, 43);
}

main {
	grid-area: main;
    padding: 0px 15px 20px;
    background-color: rgb(36, 6, 99);
    color: white;
}

h1 {
	grid-area: title;
	height: 100px;
	margin: 0;
	font-size: 2.5rem;
	text-align: center;
	align-content: center;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}

h2 {
	margin-bottom: 0px;
	font-size: 2rem;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

ul {
	margin-left: 0px;
	margin-right: 0px;
}

a {
    color: rgb(120, 0, 207);
}

a:hover {
    color: gold;
}

/*Main Elements End*/

/*Section Classes*/
.grid {
	display: grid;
	grid-template-areas:
		"header header header"
		"leftbg main rightbg";
	grid-template-columns: 1fr min(1036px, 70%) 1fr;
	grid-template-rows: 100px auto;
	height: 100%;
	background-color: rgb(202, 173, 255);
}

.leftbg {
    grid-area: leftbg; /*child of .container*/
    background-image: url("Images/d20 Pattern alt.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.rightbg {
    grid-area: rightbg; /*child of .container*/
    background-image: url("Images/d20 Pattern alt.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.recap-frame {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	margin-top: 20px;
}

.recap {
	padding: 5px;
	border: 2px solid white;
	border-radius: 10px;
	flex: 1 1 40%;
	min-width: 350px;
	background-color: rgb(25, 0, 62);
}

#recap-spacer {
	padding: 0px 5px;
	margin: 0;
	flex: 1 1 40%;
	min-width: 350px;
}

.recap > h3 {
	margin-top: 10px;
	margin-left: 5px;
}

.recap > ul {
	padding: 5px 20px;
}

.recap > ul > li {
	margin-bottom: 7px;
}
/*Section Classes End*/

/*Media Query*/
@media screen and (max-width: 600px) {
	html {
		font-size: 12px;
		color: yellow;
	}
	
	h1 {
		font-size: 2rem;
		color: yellow;
	}
	
	h2 {
		font-size: 1.75rem;
	}
	
	h3 {
		font-size: 1.4rem;
	}
	
	.grid {
		grid-template-columns: 1fr 85% 1fr;
	}
	
	.recap {
		min-width: 150px;
	}
}
